@charset "UTF-8";
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  text-align: center;
  color: #fff;
}

#splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
}

#splash_text svg {
  height: 2px;
}

.loader_cover {
  width: 100%;
  height: 50%;
  background-color: #333;
  transition: all 1s cubic-bezier(0.04, 0.435, 0.315, 0.9);
  transform: scaleY(1);
}

.loader_cover-up {
  transform-origin: center top;
}

.loader_cover-down {
  position: absolute;
  bottom: 0;
  transform-origin: center bottom;
}

.coveranime {
  transform: scaleY(0);
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: #EAEAEA;
  font-family: "Noto Serif", serif;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.change-color {
  transition: 0.4s;
  background-color: #000;
}

.header-wrapper {
  position: fixed;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-wrapper__left {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  text-align: center;
  z-index: 21;
}
@media screen and (max-width: 431px) {
  .header-wrapper__left {
    top: 50%;
    left: 5px;
  }
}
@media screen and (max-width: 431px) {
  .header-wrapper__left img {
    width: 70%;
  }
}
.header-wrapper__left h1 {
  font-size: 3rem;
  font-family: "Caudex", serif;
  font-family: "Noto Serif", serif;
}
.header-wrapper__left h1 .color-red {
  color: red;
}
.header-wrapper__left h1 .color-green {
  color: #00F40A;
}
.header-wrapper__right__nav__list {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.header-wrapper__right__nav__list .header-wrapper__right__nav__list__item__icon {
  margin: 12px;
}
.header-wrapper__right__nav__list__item {
  padding: 4% 12px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-family: "Noto Serif", serif;
  cursor: pointer;
}
.header-wrapper__right__nav__list__item:hover {
  transition: all 0.6s;
}
.header-wrapper__right__nav__list__item .more-arrow {
  display: inline-block;
  font-family: "Caudex";
  transform: rotate(90deg);
  font-size: 2rem;
  margin-left: 10px;
  width: min-content;
}
.header-wrapper__right__nav__list a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-family: "Noto Serif", serif;
  display: block;
  transition: 0.6s;
}
.header-wrapper__right__nav__list a:hover {
  opacity: 0.4;
}

.company-info {
  transition: 0.6s;
}

.center-txt {
  position: relative;
}
.center-txt::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "会社概要・役員紹介";
  color: #fff;
  font-size: 2vw;
}

.center-txt1 {
  position: relative;
}
.center-txt1::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "オフィス紹介";
  color: #fff;
  font-size: 2vw;
}

.center-txt2 {
  position: relative;
}
.center-txt2::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "創業経緯・沿革";
  color: #fff;
  font-size: 2vw;
}

.center-txt3 {
  position: relative;
}
.center-txt3::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "アクセス";
  color: #fff;
  font-size: 2vw;
}

.center-txt4 {
  position: relative;
}
.center-txt4::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "新卒採用";
  color: #fff;
  font-size: 2vw;
}

.center-txt5 {
  position: relative;
}
.center-txt5::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "中途採用";
  color: #fff;
  font-size: 2vw;
}

.dropdown__lists {
  display: none;
  /*デフォルトでは非表示の状態にしておく*/
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.3s;
  visibility: hidden;
}

.gnavi__list:hover .dropdown__lists {
  display: block;
  /*Gナビメニューにホバーしたら表示*/
  transition: 0.6s;
  visibility: visible;
}

.dropdown__list {
  background-color: #000000;
  width: 100vw;
  transition: 0.6s;
  position: relative;
  padding: 3% 0;
}
@media screen and (max-width: 800px) {
  .dropdown__list {
    display: none;
  }
}

.dropdown__list:hover {
  background-color: #000000;
  transition: all 0.6s;
}

.dropdown__list a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all 0.6s;
  text-decoration: none;
  position: relative;
  opacity: 0.6;
}

.dropdown__list__flex {
  display: flex;
}
.dropdown__list__flex img {
  width: 80%;
  object-fit: cover;
}

.icon-sp {
  display: flex;
}

@media screen and (max-width: 800px) {
  .hamburger {
    display: block;
    position: fixed;
    z-index: 99999;
    right: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    text-align: center;
    background-color: #000;
  }
  /* ナビ開いてる時のボタン */
  /* このクラスを、jQueryで付与・削除する */
}
@media screen and (max-width: 800px) and (max-width: 431px) {
  .hamburger {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 800px) {
  .header-wrapper__left {
    transform: translateY(0);
  }
}
@media screen and (max-width: 800px) {
  .change-color {
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0);
  }
}
@media screen and (max-width: 800px) {
  .hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    left: 10px;
    top: 5px;
    background: #fff;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}
@media screen and (max-width: 800px) {
  .top {
    width: 50px;
  }
}
@media screen and (max-width: 800px) and (max-width: 431px) {
  .top {
    width: 39px;
  }
}
@media screen and (max-width: 800px) {
  .center {
    width: 35px;
  }
}
@media screen and (max-width: 800px) and (max-width: 431px) {
  .center {
    width: 28px;
  }
}
@media screen and (max-width: 800px) {
  .bottom {
    width: 20px;
  }
}
@media screen and (max-width: 800px) and (max-width: 431px) {
  .bottom {
    width: 17px;
  }
}
@media screen and (max-width: 800px) {
  .hamburger span:nth-child(1) {
    top: 13px;
    left: 5px;
  }
}
@media screen and (max-width: 800px) and (max-width: 431px) {
  .hamburger span:nth-child(1) {
    top: 13px;
    left: 5px;
  }
}
@media screen and (max-width: 800px) {
  .hamburger span:nth-child(2) {
    top: 28px;
    left: 19px;
  }
}
@media screen and (max-width: 800px) and (max-width: 431px) {
  .hamburger span:nth-child(2) {
    top: 25px;
    left: 15px;
  }
}
@media screen and (max-width: 800px) {
  .hamburger span:nth-child(3) {
    top: 43px;
    left: 33px;
  }
}
@media screen and (max-width: 800px) and (max-width: 431px) {
  .hamburger span:nth-child(3) {
    top: 37px;
    left: 25px;
  }
}
@media screen and (max-width: 800px) {
  .hamburger.active span:nth-child(1) {
    top: 25px;
    left: 10px;
    width: 35px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@media screen and (max-width: 800px) {
  .hamburger.active span:nth-child(2) {
    top: 16px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .hamburger.active span:nth-child(3) {
    top: 25px;
    left: 10px;
    width: 35px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@media screen and (max-width: 800px) {
  nav.globalMenuSp {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    color: #fff;
    background: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease, visibility 0.6s ease;
  }
}
@media screen and (max-width: 800px) {
  .header-wrapper__right__nev__list {
    margin: 0 auto;
    text-align: center;
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .header-wrapper__right__nev__list li {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: block;
    overflow: hidden;
  }
}
@media screen and (max-width: 800px) {
  .header-wrapper__right__nav__list__item {
    border-bottom: solid #fff 1px;
    list-style-type: none;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 4vw;
    font-family: "Noto Serif", serif;
  }
}
@media screen and (max-width: 800px) {
  .more-list {
    height: 0;
    overflow: hidden;
    display: block;
    transition: 0.6s;
  }
  .more-list li {
    border-bottom: solid #fff 1px;
  }
  .more-list li a {
    padding: 2% 0;
  }
}
@media screen and (max-width: 800px) {
  .more-list1 {
    height: 0;
    overflow: hidden;
    display: block;
    transition: 0.6s;
  }
  .more-list1 li {
    border-bottom: solid #fff 1px;
  }
  .more-list1 li a {
    padding: 2% 0;
  }
}
@media screen and (max-width: 800px) {
  .more-list1.active {
    height: 13.5vw;
    display: block;
    transition: 0.6;
    margin-top: 3%;
  }
}
@media screen and (max-width: 800px) {
  .more-list.active {
    height: 27.5vw;
    display: block;
    transition: 0.6;
    margin-top: 3%;
  }
}
@media screen and (max-width: 800px) {
  .header-wrapper__right__nav__list li:last-child {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 800px) {
  nav.globalMenuSp ul li a {
    font-size: 4vw;
    display: block;
    font-family: "Noto Serif", serif;
    color: #fff;
    text-decoration: none;
  }
}
@media screen and (max-width: 800px) {
  nav.globalMenuSp.active {
    opacity: 100;
    visibility: visible;
  }
}
@media screen and (max-width: 800px) {
  .header-wrapper__right__nav__list__item {
    position: relative;
    margin: 2% 0 0 0;
    padding-bottom: 2%;
  }
}
@media screen and (max-width: 800px) {
  .header-wrapper__right__nav__list {
    width: 80%;
    margin: 15% auto 0 auto;
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .icon-sp {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
  }
}
@media screen and (max-width: 800px) {
  .fa-instagram:before {
    content: "\f16d";
    font-size: 6vw;
  }
}
@media screen and (max-width: 800px) {
  .fa-twitter:before {
    content: "\f099";
    font-size: 6vw;
  }
}
@media screen and (max-width: 800px) {
  .header-wrapper__right__nav__list__item .more-arrow {
    position: absolute;
    top: 0%;
    right: 3%;
    display: inline-block;
    font-family: "Caudex";
    transform: rotate(90deg);
    font-size: 4vw;
    margin-left: 10px;
    text-align: right;
    width: min-content;
    transition: 0.6;
  }
  .header-wrapper__right__nav__list__item .more-arrow.active {
    transform: rotate(0deg);
  }
}
@media screen and (max-width: 800px) {
  .header-wrapper__right__nav__list__item .more-arrow1 {
    position: absolute;
    top: 0%;
    right: 3%;
    display: inline-block;
    font-family: "Caudex";
    transform: rotate(90deg);
    font-size: 4vw;
    margin-left: 10px;
    text-align: right;
    width: min-content;
    transition: 0.6s;
  }
  .header-wrapper__right__nav__list__item .more-arrow1.active {
    transform: rotate(-90deg);
  }
}
@media screen and (max-width: 800px) {
  .header-wrapper__right__nav__list__item .more-arrow2 {
    position: absolute;
    top: 0%;
    right: 3%;
    display: inline-block;
    font-family: "Caudex";
    transform: rotate(90deg);
    font-size: 4vw;
    margin-left: 10px;
    text-align: right;
    width: min-content;
    transition: 0.6s;
  }
  .header-wrapper__right__nav__list__item .more-arrow2.active {
    transform: rotate(-90deg);
  }
}
@media screen and (min-width: 800px) {
  .more-list {
    display: none;
  }
  .more-list1 {
    display: none;
  }
}
.menu {
  display: none;
}

.main-wrapper {
  width: 100%;
}
.main-wrapper .main-image {
  overflow: hidden;
  position: relative;
}
.main-wrapper .main-image .left-image {
  width: 100%;
  height: 100vh;
}
.main-wrapper .main-image .left-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-wrapper .main-image .left-image p {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  color: #EAEAEA;
  font-size: 5vw;
  line-height: 1.5;
}
@keyframes rotate-anim {
  100% {
    background-position: -200% 0;
  }
}

.right-earth {
  width: 100%;
  text-align: center;
  margin: 10% 0;
}
.right-earth .globe {
  margin: 0 auto;
  text-align: center;
  z-index: 0;
  opacity: 0.6;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background: url("https://1-notes.com/wp-content/uploads/2021/06/world-map.png") repeat-x;
  background-size: auto 100%;
  animation: rotate-anim 40s linear infinite;
  filter: grayscale(100%) brightness(300%);
  border: solid #000 1px;
}

.service-wrapper {
  width: 100%;
}
.service-wrapper .service-wrapper__ttl {
  text-align: center;
  margin: 10% 0;
}
.service-wrapper .service-wrapper__ttl h1 {
  position: relative;
  font-size: 5.2vw;
  z-index: 2;
}
@media screen and (max-width: 430px) {
  .service-wrapper .service-wrapper__ttl h1 {
    font-size: 9vw;
  }
}
.service-wrapper .service-wrapper__ttl h1::after {
  position: absolute;
  left: 50%;
  top: -65%;
  z-index: 1;
  transform: translateX(-50%);
  content: "SERVIVE";
  font-size: 6.2vw;
  font-weight: bolder;
  color: rgba(103, 103, 103, 0.5411764706);
}
@media screen and (max-width: 430px) {
  .service-wrapper .service-wrapper__ttl h1::after {
    font-size: 10vw;
  }
}
.service-wrapper .service-wrapper__info__item {
  width: 85%;
  border-bottom: solid #000 1px;
  margin: 0 auto;
  margin-bottom: 100px;
  display: block;
  text-align: center;
}
@media screen and (max-width: 430px) {
  .service-wrapper .service-wrapper__info__item {
    width: 80%;
    margin-bottom: 70px;
  }
}
.service-wrapper .service-wrapper__info__item .service-wrapper__info__item__ttl {
  position: relative;
  width: 100%;
  border-bottom: solid #000 3px;
}
.service-wrapper .service-wrapper__info__item .service-wrapper__info__item__ttl h1 {
  font-size: 4.5vw;
  font-weight: bold;
  padding-bottom: 3px;
  display: inline-block;
  text-align: left;
}
@media screen and (max-width: 430px) {
  .service-wrapper .service-wrapper__info__item .service-wrapper__info__item__ttl h1 {
    font-size: 5vw;
    line-height: 1.3;
  }
}
.service-wrapper .service-wrapper__info__item .service-wrapper__info__item__ttl p {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 8vw;
  font-weight: bolder;
  font-family: sans-serif;
  color: rgba(255, 15, 15, 0.7450980392);
}
@media screen and (max-width: 430px) {
  .service-wrapper .service-wrapper__info__item .service-wrapper__info__item__ttl p {
    font-size: 10vw;
  }
}
.service-wrapper .service-wrapper__info__item .service-wrapper__info__item__image {
  display: flex;
  margin-top: 2%;
  border-bottom: solid #000 3px;
}
@media screen and (max-width: 430px) {
  .service-wrapper .service-wrapper__info__item .service-wrapper__info__item__image {
    display: block;
  }
}
.service-wrapper .service-wrapper__info__item .service-wrapper__info__item__image img {
  width: 35%;
}
@media screen and (max-width: 430px) {
  .service-wrapper .service-wrapper__info__item .service-wrapper__info__item__image img {
    width: 100%;
    height: 140px;
    object-fit: cover;
  }
}
.service-wrapper .service-wrapper__info__item .service-wrapper__info__item__image .service-wrapper__info__item__txt {
  text-align: left;
  margin-left: 40px;
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 430px) {
  .service-wrapper .service-wrapper__info__item .service-wrapper__info__item__image .service-wrapper__info__item__txt {
    margin-left: 0;
  }
}
.service-wrapper .service-wrapper__info__item .service-wrapper__info__item__image .service-wrapper__info__item__txt p {
  font-size: 1.7vw;
  line-height: 1.4;
  font-weight: bold;
}
@media screen and (max-width: 430px) {
  .service-wrapper .service-wrapper__info__item .service-wrapper__info__item__image .service-wrapper__info__item__txt p {
    width: 100%;
    font-size: 3.4vw;
    margin-top: 10%;
  }
}
.service-wrapper .service-wrapper__info__item .service-wrapper__info__item__image .service-wrapper__info__item__txt .txt {
  margin-bottom: 10%;
  margin-top: 10%;
}
.service-wrapper .service-wrapper__info__item .service-wrapper__info__item__image .service-wrapper__info__item__txt .botton {
  margin: 8% 0;
  z-index: 2;
}
.service-wrapper .service-wrapper__info__item .service-wrapper__info__item__image .service-wrapper__info__item__txt a {
  position: relative;
  padding: 0.8vw 5.7vw;
  border: solid #000 2px;
  text-decoration: none;
  color: #000;
}
.service-wrapper .service-wrapper__info__item .service-wrapper__info__item__image .service-wrapper__info__item__txt a span {
  position: relative;
  z-index: 3;
  color: #000;
}
.service-wrapper .service-wrapper__info__item .service-wrapper__info__item__image .service-wrapper__info__item__txt a:hover span {
  color: #fff;
}
.service-wrapper .service-wrapper__info__item .service-wrapper__info__item__image .service-wrapper__info__item__txt a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 0.3s;
  transition: transform 0.3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
}
.service-wrapper .service-wrapper__info__item .service-wrapper__info__item__image .service-wrapper__info__item__txt a:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.company-info-wrapper {
  width: 100%;
}
.company-info-wrapper .company-info-wrapper__image {
  position: relative;
  width: 100%;
}
.company-info-wrapper .company-info-wrapper__image img {
  width: 100%;
  height: 35vw;
}
.company-info-wrapper .company-info-wrapper__image .company-info-wrapper__txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 100%;
}
.company-info-wrapper .company-info-wrapper__image .company-info-wrapper__txt h1 {
  font-size: 3vw;
  margin-bottom: 3%;
}
.company-info-wrapper .company-info-wrapper__image .company-info-wrapper__txt p {
  font-size: 2vw;
  line-height: 1.4;
}
.company-info-wrapper .company-info-wrapper__image .company-info-wrapper__txt .span {
  margin-top: 5%;
}
.company-info-wrapper .company-info-wrapper__image .company-info-wrapper__txt a {
  text-decoration: none;
  color: #fff;
  border: solid #fff 2px;
  padding: 0.7vw 6vw;
  margin-top: 5%;
  transition: 0.4s;
}
.company-info-wrapper .company-info-wrapper__image .company-info-wrapper__txt a:hover {
  background-color: #fff;
  color: #000;
}

.acssece-wrapper {
  width: 100%;
}
.acssece-wrapper .acssece-wrapper__ttl {
  text-align: center;
  margin: 10% 0 0 0;
}
.acssece-wrapper .acssece-wrapper__ttl h1 {
  position: relative;
  font-size: 5.2vw;
  z-index: 2;
}
@media screen and (max-width: 430px) {
  .acssece-wrapper .acssece-wrapper__ttl h1 {
    font-size: 9vw;
  }
}
.acssece-wrapper .acssece-wrapper__ttl h1::after {
  position: absolute;
  left: 50%;
  top: -65%;
  z-index: 1;
  transform: translateX(-50%);
  content: "ACSSECE";
  font-size: 6.2vw;
  font-weight: bolder;
  color: rgba(103, 103, 103, 0.5411764706);
}
@media screen and (max-width: 430px) {
  .acssece-wrapper .acssece-wrapper__ttl h1::after {
    font-size: 10vw;
  }
}
.acssece-wrapper .acssece-wrapper__link {
  text-align: center;
  margin-bottom: 5%;
}
.acssece-wrapper .acssece-wrapper__link a {
  position: relative;
  color: #000;
  padding: 0.7vw 6vw;
  border: solid #000 2px;
  font-size: 2vw;
  text-decoration: none;
}
.acssece-wrapper .acssece-wrapper__link a:hover::after {
  right: -19%;
}
.acssece-wrapper .acssece-wrapper__link a::after {
  position: absolute;
  top: 60%;
  right: -40%;
  transform: translate(-50%, -50%);
  content: "⇀";
  font-size: 7vw;
  transition: 0.6s;
}

.office-info-wrapper {
  width: 100%;
}
.office-info-wrapper .office-info-wrapper__image {
  position: relative;
  width: 100%;
}
.office-info-wrapper .office-info-wrapper__image img {
  width: 100%;
  height: 35vw;
}
.office-info-wrapper .office-info-wrapper__image .office-info-wrapper__txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 100%;
}
.office-info-wrapper .office-info-wrapper__image .office-info-wrapper__txt h1 {
  font-size: 3vw;
  margin-bottom: 3%;
}
.office-info-wrapper .office-info-wrapper__image .office-info-wrapper__txt p {
  font-size: 2vw;
  line-height: 1.4;
}
.office-info-wrapper .office-info-wrapper__image .office-info-wrapper__txt .span {
  margin-top: 3%;
}
.office-info-wrapper .office-info-wrapper__image .office-info-wrapper__txt a {
  text-decoration: none;
  color: #fff;
  border: solid #fff 2px;
  padding: 0.7vw 6vw;
  margin-top: 5%;
  transition: 0.4s;
}
.office-info-wrapper .office-info-wrapper__image .office-info-wrapper__txt a:hover {
  background-color: #fff;
  color: #000;
}

.news-wrapper {
  width: 100%;
}
.news-wrapper .news-wrapper__ttl {
  text-align: center;
  margin: 10% 0;
}
.news-wrapper .news-wrapper__ttl h1 {
  position: relative;
  font-size: 5.2vw;
  z-index: 2;
}
@media screen and (max-width: 430px) {
  .news-wrapper .news-wrapper__ttl h1 {
    font-size: 9vw;
  }
}
.news-wrapper .news-wrapper__ttl h1::after {
  position: absolute;
  left: 50%;
  top: -65%;
  z-index: 1;
  transform: translateX(-50%);
  content: "NEWS";
  font-size: 6.2vw;
  font-weight: bolder;
  color: rgba(103, 103, 103, 0.5411764706);
}
@media screen and (max-width: 430px) {
  .news-wrapper .news-wrapper__ttl h1::after {
    font-size: 10vw;
  }
}
.news-wrapper .news-wrapper__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 650px) {
  .news-wrapper .news-wrapper__list {
    display: block;
  }
}
.news-wrapper .news-wrapper__list a {
  display: block;
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}
.news-wrapper .news-wrapper__list a:hover {
  transform: translateY(-10%);
}
@media screen and (max-width: 650px) {
  .news-wrapper .news-wrapper__list a:hover {
    transform: none;
  }
}
.news-wrapper .news-wrapper__list .news-wrapper__list__item {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  padding: 2%;
}
@media screen and (max-width: 650px) {
  .news-wrapper .news-wrapper__list .news-wrapper__list__item {
    width: 250px;
    padding: 1% 0;
    margin: 0 auto 10% auto;
  }
  .news-wrapper .news-wrapper__list .news-wrapper__list__item__inner {
    padding: 12% 5%;
  }
}
.news-wrapper .news-wrapper__list .news-wrapper__list__item h2 {
  font-size: 1.6vw;
  margin-bottom: 8%;
  font-weight: bold;
}
@media screen and (max-width: 650px) {
  .news-wrapper .news-wrapper__list .news-wrapper__list__item h2 {
    font-size: 1.7rem;
  }
}
.news-wrapper .news-wrapper__list .news-wrapper__list__item h3 {
  font-size: 1.6vw;
  margin-bottom: 10%;
  font-weight: bold;
}
@media screen and (max-width: 650px) {
  .news-wrapper .news-wrapper__list .news-wrapper__list__item h3 {
    font-size: 1.7rem;
    margin-bottom: 14%;
  }
}
.news-wrapper .news-wrapper__list .news-wrapper__list__item p {
  font-size: 1.4vw;
  line-height: 1.4;
}
@media screen and (max-width: 650px) {
  .news-wrapper .news-wrapper__list .news-wrapper__list__item p {
    font-size: 1.3rem;
  }
}
.news-wrapper .news-wrapper__list .one {
  padding: 2.8%;
}
@media screen and (max-width: 650px) {
  .news-wrapper .news-wrapper__list .one {
    width: 250px;
    padding: 0;
  }
}
.news-wrapper .news-wrapper__link {
  text-align: center;
  margin: 10% 0;
}
@media screen and (max-width: 650px) {
  .news-wrapper .news-wrapper__link {
    margin: 15% 0;
  }
}
.news-wrapper .news-wrapper__link a {
  position: relative;
  padding: 1vw 8vw;
  border: solid #000 2px;
  text-decoration: none;
  color: #000;
  font-size: 2vw;
}
@media screen and (max-width: 650px) {
  .news-wrapper .news-wrapper__link a {
    padding: 8px 79px;
    font-size: 3rem;
  }
}
.news-wrapper .news-wrapper__link a span {
  position: relative;
  z-index: 3;
  color: #000;
}
.news-wrapper .news-wrapper__link a:hover span {
  color: #fff;
}
.news-wrapper .news-wrapper__link a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: 0.3s;
  transition: transform 0.3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
}
.news-wrapper .news-wrapper__link a:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.recruit-info-wrapper {
  width: 100%;
}
.recruit-info-wrapper__ttl {
  text-align: center;
  width: 100%;
  background-color: #000;
}
.recruit-info-wrapper__ttl h1 {
  color: #fff;
  font-size: 3vw;
  padding: 2% 0;
}
.recruit-info-wrapper .recruit-info-wrapper__image {
  position: relative;
  width: 100%;
}
.recruit-info-wrapper .recruit-info-wrapper__image img {
  width: 100%;
  height: 25vw;
  vertical-align: middle;
}
.recruit-info-wrapper .recruit-info-wrapper__image .recruit-info-wrapper__txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 100%;
}
.recruit-info-wrapper .recruit-info-wrapper__image .recruit-info-wrapper__txt h1 {
  font-size: 3vw;
  margin-bottom: 1%;
}
.recruit-info-wrapper .recruit-info-wrapper__image .recruit-info-wrapper__txt p {
  font-size: 2vw;
  line-height: 1.4;
}
.recruit-info-wrapper .recruit-info-wrapper__image .recruit-info-wrapper__txt .span {
  margin-top: 5%;
}
.recruit-info-wrapper .recruit-info-wrapper__image .recruit-info-wrapper__txt a {
  text-decoration: none;
  color: #fff;
  border: solid #fff 2px;
  padding: 0.7vw 6vw;
  margin-top: 5%;
  transition: 0.4s;
}
.recruit-info-wrapper .recruit-info-wrapper__image .recruit-info-wrapper__txt a:hover {
  background-color: #fff;
  color: #000;
}

.footer-wrapper .footer-wrapper__box {
  text-align: center;
  background-color: #3F3F3F;
  padding: 3%;
}
.footer-wrapper .footer-wrapper__box .footer-wrapper__img {
  width: 12vw;
  margin: 0 auto;
}
.footer-wrapper .footer-wrapper__box .footer-wrapper__img img {
  width: 100%;
}
.footer-wrapper .footer-wrapper__box .footer-wrapper__text {
  margin-top: 3%;
}
.footer-wrapper .footer-wrapper__box .footer-wrapper__text p {
  color: #fff;
  font-size: 2vw;
  padding: 0 20px;
}
.footer-wrapper .footer-wrapper__box .footer-wrapper__contact {
  background-color: #2B2B2B;
  width: 43vw;
  margin: 5% auto 3% auto;
}
.footer-wrapper .footer-wrapper__box .footer-wrapper__contact p a {
  color: #fff;
  text-decoration: none;
  font-size: 2.3vw;
  display: block;
  padding: 3vw 0;
  transition: 0.4s;
}
.footer-wrapper .footer-wrapper__box .footer-wrapper__contact p a:hover {
  opacity: 0.5;
}
.footer-wrapper .footer-wrapper__box .footer-wrapper__tel {
  background-color: #838383;
  width: 43vw;
  margin: 0 auto;
}
.footer-wrapper .footer-wrapper__box .footer-wrapper__tel p {
  color: #fff;
  font-size: 2.3vw;
  padding: 3vw 0;
}
.footer-wrapper .footer-wrapper__image__pc {
  background-color: #2B2B2B;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .footer-wrapper .footer-wrapper__image__pc {
    display: block;
    vertical-align: middle;
  }
}
.footer-wrapper .footer-wrapper__image__pc .footer-wrapper__image__sp {
  width: 100%;
  display: flex;
  align-items: center;
  object-fit: cover;
  background-size: cover;
}
@media screen and (max-width: 431px) {
  .footer-wrapper .footer-wrapper__image__pc .footer-wrapper__image__sp {
    display: block;
    vertical-align: middle;
  }
}
.footer-wrapper .footer-wrapper__image__pc .footer-wrapper__image__sp img {
  width: 100%;
  justify-content: baseline;
}
@media screen and (max-width: 431px) {
  .footer-wrapper .footer-wrapper__image__pc .footer-wrapper__image__sp img {
    height: 20vw;
    object-fit: cover;
  }
}
.footer-wrapper .footer-wrapper__image__pc .footer-wrapper__image__sp .footer-wrapper__image1,
.footer-wrapper .footer-wrapper__image__pc .footer-wrapper__image__sp .footer-wrapper__image2,
.footer-wrapper .footer-wrapper__image__pc .footer-wrapper__image__sp .footer-wrapper__image3,
.footer-wrapper .footer-wrapper__image__pc .footer-wrapper__image__sp .footer-wrapper__image4 {
  position: relative;
}
.footer-wrapper .footer-wrapper__image__pc .footer-wrapper__image__sp .footer-wrapper__image1 p,
.footer-wrapper .footer-wrapper__image__pc .footer-wrapper__image__sp .footer-wrapper__image2 p,
.footer-wrapper .footer-wrapper__image__pc .footer-wrapper__image__sp .footer-wrapper__image3 p,
.footer-wrapper .footer-wrapper__image__pc .footer-wrapper__image__sp .footer-wrapper__image4 p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #fff;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .footer-wrapper .footer-wrapper__image__pc .footer-wrapper__image__sp .footer-wrapper__image1 p,
.footer-wrapper .footer-wrapper__image__pc .footer-wrapper__image__sp .footer-wrapper__image2 p,
.footer-wrapper .footer-wrapper__image__pc .footer-wrapper__image__sp .footer-wrapper__image3 p,
.footer-wrapper .footer-wrapper__image__pc .footer-wrapper__image__sp .footer-wrapper__image4 p {
    font-size: 4vw;
  }
}
.footer-wrapper .footer-bottom {
  position: relative;
  text-align: center;
  padding: 2% 0;
}
.footer-wrapper .footer-bottom p {
  font-size: 1.3vw;
}
.footer-wrapper .footer-bottom a {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 4vw;
  transform: translateY(-50%) rotate(-90deg);
  display: inline-block;
  font-family: "Caudex";
  text-decoration: none;
  color: #000;
}
.footer-wrapper .footer-bottom a:hover {
  opacity: 0.5;
}
